
<h1>{{ title }}</h1> <br>

<img src="{{ picture }}" alt=""> <br>

<p>{{ description }}</p> <br>

<h4>Statistics</h4>

Views : {{ statistics.viewCount }}
<br>
Subscribers : {{ statistics.subscriberCount }}
<br>
Videos number : {{ statistics.videoCount }}
